.formStyles {
  .MuiTextField-root {
    margin-bottom: 1.5rem;
  }

  button {
    margin-top: 2rem;
  }
}

.dateText {
  margin: 2rem 0 !important;
}

.searchInput {
  margin-top: 2rem !important;
  // ${theme.breakpoints.up('md')} {
  //   padding-right: ${theme.spacing(6)};
  //   margin: ${theme.spacing(6)} 0;
  // }
}

.searchButton {
  width: 100%;
  margin: 3rem 0;
  padding: 1.6rem 0;
  // ${theme.breakpoints.up('md')} {
  //   max-height: 55px;
  //   width: 200px;
  //   margin: ${theme.spacing(6)} 0;
  // }
}
